.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 217, 0);
    /* padding: 5% 30%; */
}
    

.rpsTitle {
    text-align: center;
    padding: 10px;
    border: 0px solid red;
    border-radius: 50% 50% 10% 10%;
    background-color: brown;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self:auto;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 20px;
}

/* #you {
    background-color: rgb(138, 190, 156);
}

#computer {
    background-color: rgb(194, 88, 88);
} */

.score {
    border: 5px solid red;
    border-radius: 20%;
    background-color: rgb(219, 200, 176);
    padding: 20px;
    font-size: x-large;
}

#buttons {
   text-align: center;
}

.button {
    margin: 5px;
    padding: 20px 10px;
    width: 100px;
}

.playbutton {
    text-align: center;
}