.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(207, 201, 163);
    /* padding: 5% 30%; */
}
    

.rpsTitle {
    text-align: center;
    padding: 10px;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self:auto;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 20px;
}

/* #you {
    background-color: rgb(138, 190, 156);
}

#computer {
    background-color: rgb(194, 88, 88);
} */

.score {
    border: 5px solid red;
    border-radius: 20%;
    background-color: rgb(219, 200, 176);
    padding: 20px;
    font-size: x-large;
}

#buttons {
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 20px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
  }

.button {
    margin: 10px;
    padding: 20px 10px;
    width: 100px;
    border-radius: 50%;
    animation: blink 1s infinite;
}

.playbutton {
    text-align: center;
    margin: 30px;
}

  
  